html {
    background-color: #778899;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

header {
    font-size: 65px;
    color: #CCDDEE;
}

h1 {
    margin: 0;
    padding: 20px 0 0 0;
}

.mid-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
    margin: 50px;
}

.toolbar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    background-color: #445566;
    font-size: 40px;
    color: #CCDDEE;
}

.change-colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.colorBtn {
    border-radius: 100px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
}

.black {
    background-color: black;
}

div > .eraser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.eraser > .img {
    width: 85%;
    height: 85%;
}

.color-selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    opacity: 1;
    width: 85px;
    height: 85px;
    border: none;
    cursor: pointer;
}

.color-selector::-webkit-color-swatch {
    border-radius: 100px;
}

.color-selector::-moz-color-swatch {
    border-radius: 100px;
}

/* .colorBtn:hover {
    opacity: 0.9;
} */

.dimensions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.dim-text {
    padding: 0;
    margin: 0;
}

.size-text {
    padding-bottom: 10px;
    font-size: 50px;
}

.btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.change {
    color: lightgrey;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #667788;
    border-radius: 16px;
    width: 60px;
    height: 60px;
    opacity: 0.75;
}
.change:hover {
    opacity: 1;
}

.grid {
    background-color: white;
    height: 800px;
    width: 800px;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #CCDDEE;
    margin-top: auto;
    height: 7.5vh;
    width: 100%;
}

.rainbow {
    background-color: yellow;
}